<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	{{> header}}

	<main>
		{{{content}}}
	</main>

	{{> footer}}

	<!-- Include any JavaScript files here -->
	{{#each scripts}}
		<script src="{{this}}"></script>
	{{/each}}
</body>
</html>